app/AppLeanMaint/AppLeanMaint/Web References/PlanningWS/Planning.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://objlab.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://objlab.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objlab.it/">
      <s:element name="GetOrderTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderTypesResult" type="tns:ArrayOfOrderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderType" nillable="true" type="tns:OrderType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOperator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eType" type="tns:OperatorTypeEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OperatorTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Level_1" />
          <s:enumeration value="Level_2" />
          <s:enumeration value="Level_3" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateOperatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOperatorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oOrder" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PlannedFor" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToCompleteBefore" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Completed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderResult" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderTypes" />
  </wsdl:message>
  <wsdl:message name="GetOrderTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOperatorSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOperator" />
  </wsdl:message>
  <wsdl:message name="CreateOperatorSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="CreateOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="PlanningSoap">
    <wsdl:operation name="GetOrderTypes">
      <wsdl:input message="tns:GetOrderTypesSoapIn" />
      <wsdl:output message="tns:GetOrderTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <wsdl:input message="tns:CreateOperatorSoapIn" />
      <wsdl:output message="tns:CreateOperatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderSoapIn" />
      <wsdl:output message="tns:CreateOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input message="tns:GetOrderSoapIn" />
      <wsdl:output message="tns:GetOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningSoap" type="tns:PlanningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderTypes">
      <soap:operation soapAction="http://objlab.it/GetOrderTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <soap:operation soapAction="http://objlab.it/CreateOperator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://objlab.it/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://objlab.it/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlanningSoap12" type="tns:PlanningSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderTypes">
      <soap12:operation soapAction="http://objlab.it/GetOrderTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <soap12:operation soapAction="http://objlab.it/CreateOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://objlab.it/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://objlab.it/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Planning">
    <wsdl:port name="PlanningSoap" binding="tns:PlanningSoap">
      <soap:address location="http://dev1.objlab.it/WS/Planning.asmx" />
    </wsdl:port>
    <wsdl:port name="PlanningSoap12" binding="tns:PlanningSoap12">
      <soap12:address location="http://dev1.objlab.it/WS/Planning.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>