app/AppLeanMaint/AppLeanMaint/Web References/PlanningWS/Planning.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://objlab.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://objlab.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objlab.it/">
      <s:element name="GetOrderTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderTypesResult" type="tns:ArrayOfOrderType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderType" nillable="true" type="tns:OrderType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOperator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eType" type="tns:OperatorTypeEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OperatorTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Level_1" />
          <s:enumeration value="Level_2" />
          <s:enumeration value="Level_3" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateOperatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOperatorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oOrder" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Assets" type="tns:ArrayOfOrderAsset" />
          <s:element minOccurs="0" maxOccurs="1" name="Operators" type="tns:ArrayOfOrderOperator" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PlannedFor" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToCompleteBefore" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Completed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderAsset" nillable="true" type="tns:OrderAsset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderAssetMaterials" type="tns:ArrayOfOrderAssetMaterial" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderAsset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StopRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MinutesRequired" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderAssetMaterial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderAssetMaterial" nillable="true" type="tns:OrderAssetMaterial" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderAssetMaterial">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderAsset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Material" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderOperator" nillable="true" type="tns:OrderOperator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderOperator">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Operator" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderResult" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult" type="tns:ArrayOfOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOperatorsForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperatorsForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperatorsForOrderResult" type="tns:ArrayOfOperator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Operator" nillable="true" type="tns:Operator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Operator">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Operator" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MiddleName_HasValue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Description_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OperatorType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Calendar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HourlyCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HourlyCost_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_User" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAssetsForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetsForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetsForOrderResult" type="tns:ArrayOfAsset" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asset">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_AssetType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Barcode_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrganizationCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent_HasValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMaterialsForAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaterialsForAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaterialsForAssetResult" type="tns:ArrayOfMaterial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMaterial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Material">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Material" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CostPerUM" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_MaterialUM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_StoreCenter" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderTypes" />
  </wsdl:message>
  <wsdl:message name="GetOrderTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOperatorSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOperator" />
  </wsdl:message>
  <wsdl:message name="CreateOperatorSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="CreateOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperatorsForOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperatorsForOrder" />
  </wsdl:message>
  <wsdl:message name="GetOperatorsForOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperatorsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetsForOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetsForOrder" />
  </wsdl:message>
  <wsdl:message name="GetAssetsForOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaterialsForAssetSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaterialsForAsset" />
  </wsdl:message>
  <wsdl:message name="GetMaterialsForAssetSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaterialsForAssetResponse" />
  </wsdl:message>
  <wsdl:portType name="PlanningSoap">
    <wsdl:operation name="GetOrderTypes">
      <wsdl:input message="tns:GetOrderTypesSoapIn" />
      <wsdl:output message="tns:GetOrderTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <wsdl:input message="tns:CreateOperatorSoapIn" />
      <wsdl:output message="tns:CreateOperatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderSoapIn" />
      <wsdl:output message="tns:CreateOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input message="tns:GetOrderSoapIn" />
      <wsdl:output message="tns:GetOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersSoapIn" />
      <wsdl:output message="tns:GetOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <wsdl:input message="tns:GetOperatorsForOrderSoapIn" />
      <wsdl:output message="tns:GetOperatorsForOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <wsdl:input message="tns:GetAssetsForOrderSoapIn" />
      <wsdl:output message="tns:GetAssetsForOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForAsset">
      <wsdl:input message="tns:GetMaterialsForAssetSoapIn" />
      <wsdl:output message="tns:GetMaterialsForAssetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningSoap" type="tns:PlanningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderTypes">
      <soap:operation soapAction="http://objlab.it/GetOrderTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <soap:operation soapAction="http://objlab.it/CreateOperator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://objlab.it/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://objlab.it/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://objlab.it/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <soap:operation soapAction="http://objlab.it/GetOperatorsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <soap:operation soapAction="http://objlab.it/GetAssetsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForAsset">
      <soap:operation soapAction="http://objlab.it/GetMaterialsForAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlanningSoap12" type="tns:PlanningSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderTypes">
      <soap12:operation soapAction="http://objlab.it/GetOrderTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOperator">
      <soap12:operation soapAction="http://objlab.it/CreateOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://objlab.it/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://objlab.it/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://objlab.it/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <soap12:operation soapAction="http://objlab.it/GetOperatorsForOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <soap12:operation soapAction="http://objlab.it/GetAssetsForOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForAsset">
      <soap12:operation soapAction="http://objlab.it/GetMaterialsForAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Planning">
    <wsdl:port name="PlanningSoap" binding="tns:PlanningSoap">
      <soap:address location="http://dev1.objlab.it/WS/Planning.asmx" />
    </wsdl:port>
    <wsdl:port name="PlanningSoap12" binding="tns:PlanningSoap12">
      <soap12:address location="http://dev1.objlab.it/WS/Planning.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>