app/AppLeanMaint/AppLeanMaint/Web References/ConfigWS/Config.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://objlab.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://objlab.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objlab.it/">
      <s:element name="GetOrganizationCentersTree">
        <s:complexType />
      </s:element>
      <s:element name="GetOrganizationCentersTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrganizationCentersTreeResult" type="tns:RootOfInt32OrganizationCenter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RootOfInt32OrganizationCenter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfNodeOfInt32OrganizationCenter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNodeOfInt32OrganizationCenter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NodeOfInt32OrganizationCenter" nillable="true" type="tns:NodeOfInt32OrganizationCenter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodeOfInt32OrganizationCenter">
        <s:complexContent mixed="false">
          <s:extension base="tns:RootOfInt32OrganizationCenter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:OrganizationCenter" />
              <s:element minOccurs="1" maxOccurs="1" name="HasParent" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentKey" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganizationCenter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrganizationCenter" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrganizationCenterType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent_HasValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrganizationCentersTreeSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrganizationCentersTree" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationCentersTreeSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrganizationCentersTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigSoap">
    <wsdl:operation name="GetOrganizationCentersTree">
      <wsdl:input message="tns:GetOrganizationCentersTreeSoapIn" />
      <wsdl:output message="tns:GetOrganizationCentersTreeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigSoap" type="tns:ConfigSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrganizationCentersTree">
      <soap:operation soapAction="http://objlab.it/GetOrganizationCentersTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigSoap12" type="tns:ConfigSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrganizationCentersTree">
      <soap12:operation soapAction="http://objlab.it/GetOrganizationCentersTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Config">
    <wsdl:port name="ConfigSoap" binding="tns:ConfigSoap">
      <soap:address location="http://dev1.objlab.it/WS/Config.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigSoap12" binding="tns:ConfigSoap12">
      <soap12:address location="http://dev1.objlab.it/WS/Config.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>