app/AppLeanMaint/AppLeanMaint/Web References/MaintenanceWS/Maintenance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://objlab.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://objlab.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objlab.it/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eType" type="tns:SupplierTypeEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SupplierTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Maintenance" />
          <s:enumeration value="Producer" />
          <s:enumeration value="Consultant" />
          <s:enumeration value="Materials" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSupplierResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAsset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAssetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAssetResult" type="tns:ArrayOfAsset" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asset">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_AssetType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrganizationCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent_HasValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSupplier" />
  </wsdl:message>
  <wsdl:message name="CreateSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAssetSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAsset" />
  </wsdl:message>
  <wsdl:message name="SearchAssetSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAssetResponse" />
  </wsdl:message>
  <wsdl:portType name="MaintenanceSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <wsdl:input message="tns:CreateSupplierSoapIn" />
      <wsdl:output message="tns:CreateSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAsset">
      <wsdl:input message="tns:SearchAssetSoapIn" />
      <wsdl:output message="tns:SearchAssetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaintenanceSoap" type="tns:MaintenanceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://objlab.it/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <soap:operation soapAction="http://objlab.it/CreateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAsset">
      <soap:operation soapAction="http://objlab.it/SearchAsset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaintenanceSoap12" type="tns:MaintenanceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://objlab.it/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <soap12:operation soapAction="http://objlab.it/CreateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAsset">
      <soap12:operation soapAction="http://objlab.it/SearchAsset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Maintenance">
    <wsdl:port name="MaintenanceSoap" binding="tns:MaintenanceSoap">
      <soap:address location="http://dev1.objlab.it/WS/Maintenance.asmx" />
    </wsdl:port>
    <wsdl:port name="MaintenanceSoap12" binding="tns:MaintenanceSoap12">
      <soap12:address location="http://dev1.objlab.it/WS/Maintenance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>