app/AppLeanMaint/AppLeanMaint/Web References/MaintenanceWS/Maintenance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://objlab.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://objlab.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://objlab.it/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sMobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eType" type="tns:SupplierTypeEnum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SupplierTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Maintenance" />
          <s:enumeration value="Producer" />
          <s:enumeration value="Consultant" />
          <s:enumeration value="Materials" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSupplierResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperatorsForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperatorsForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperatorsForOrderResult" type="tns:ArrayOfOperator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOperator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Operator" nillable="true" type="tns:Operator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Operator">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Operator" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MiddleName_HasValue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Description_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OperatorType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Calendar" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HourlyCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HourlyCost_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_User" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOperatorToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Operator" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOperatorToOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAssetsForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetsForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetsForOrderResult" type="tns:ArrayOfAsset" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asset">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_AssetType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrganizationCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CostCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_GeographicCenter_HasValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent_HasValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAssetToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Asset" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssetToOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMaterialsForOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaterialsForOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaterialsForOrderResult" type="tns:ArrayOfMaterial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMaterial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Material">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Material" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ObjStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Supplier" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CostPerUM" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_MaterialUM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_StoreCenter" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddMaterialToOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_Material" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nQuantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMaterialToOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSupplier" />
  </wsdl:message>
  <wsdl:message name="CreateSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperatorsForOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperatorsForOrder" />
  </wsdl:message>
  <wsdl:message name="GetOperatorsForOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperatorsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddOperatorToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddOperatorToOrder" />
  </wsdl:message>
  <wsdl:message name="AddOperatorToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddOperatorToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetsForOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetsForOrder" />
  </wsdl:message>
  <wsdl:message name="GetAssetsForOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssetToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssetToOrder" />
  </wsdl:message>
  <wsdl:message name="AddAssetToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssetToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaterialsForOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaterialsForOrder" />
  </wsdl:message>
  <wsdl:message name="GetMaterialsForOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaterialsForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddMaterialToOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddMaterialToOrder" />
  </wsdl:message>
  <wsdl:message name="AddMaterialToOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddMaterialToOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="MaintenanceSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <wsdl:input message="tns:CreateSupplierSoapIn" />
      <wsdl:output message="tns:CreateSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <wsdl:input message="tns:GetOperatorsForOrderSoapIn" />
      <wsdl:output message="tns:GetOperatorsForOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOperatorToOrder">
      <wsdl:input message="tns:AddOperatorToOrderSoapIn" />
      <wsdl:output message="tns:AddOperatorToOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <wsdl:input message="tns:GetAssetsForOrderSoapIn" />
      <wsdl:output message="tns:GetAssetsForOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssetToOrder">
      <wsdl:input message="tns:AddAssetToOrderSoapIn" />
      <wsdl:output message="tns:AddAssetToOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForOrder">
      <wsdl:input message="tns:GetMaterialsForOrderSoapIn" />
      <wsdl:output message="tns:GetMaterialsForOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterialToOrder">
      <wsdl:input message="tns:AddMaterialToOrderSoapIn" />
      <wsdl:output message="tns:AddMaterialToOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaintenanceSoap" type="tns:MaintenanceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://objlab.it/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <soap:operation soapAction="http://objlab.it/CreateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <soap:operation soapAction="http://objlab.it/GetOperatorsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOperatorToOrder">
      <soap:operation soapAction="http://objlab.it/AddOperatorToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <soap:operation soapAction="http://objlab.it/GetAssetsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssetToOrder">
      <soap:operation soapAction="http://objlab.it/AddAssetToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForOrder">
      <soap:operation soapAction="http://objlab.it/GetMaterialsForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterialToOrder">
      <soap:operation soapAction="http://objlab.it/AddMaterialToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaintenanceSoap12" type="tns:MaintenanceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://objlab.it/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <soap12:operation soapAction="http://objlab.it/CreateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatorsForOrder">
      <soap12:operation soapAction="http://objlab.it/GetOperatorsForOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOperatorToOrder">
      <soap12:operation soapAction="http://objlab.it/AddOperatorToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetsForOrder">
      <soap12:operation soapAction="http://objlab.it/GetAssetsForOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssetToOrder">
      <soap12:operation soapAction="http://objlab.it/AddAssetToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialsForOrder">
      <soap12:operation soapAction="http://objlab.it/GetMaterialsForOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterialToOrder">
      <soap12:operation soapAction="http://objlab.it/AddMaterialToOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Maintenance">
    <wsdl:port name="MaintenanceSoap" binding="tns:MaintenanceSoap">
      <soap:address location="http://dev1.objlab.it/WS/Maintenance.asmx" />
    </wsdl:port>
    <wsdl:port name="MaintenanceSoap12" binding="tns:MaintenanceSoap12">
      <soap12:address location="http://dev1.objlab.it/WS/Maintenance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>